.App {
  text-align: center;
}

.boardcontainer{

display: inline-block;

background-color: rgb(170, 184, 178);
margin: 50px auto;

height: 800px;
width: 500px;
border-radius: 8px;
box-shadow: 7px 7px 5px  rgb(126, 123, 123);

}

.red{
background-color: red;

width: 6%;
margin-left: 66px;
margin-right: 5px;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;

}
.red:hover {
  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.redc{
  background-color: red!important; 
  
  width: 6%;

  margin-right: 5px;
  height: 24px;
  border-radius: 100%;
  border:solid black 1px;
  
  transition: all 120ms;
  
  }
  .redc:hover {
    transform: scale(1.2);
   
    cursor: pointer;
    z-index: 1;
  }
.green{

  background-color: rgb(142, 225, 101)!important;
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;
}

.green:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.yellow{

  background-color: rgb(234, 242, 77)!important;
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;
}

.yellow:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.blue{

  background-color: rgb(68, 201, 206)!important;
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;
}

.blue:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.orange{

  background-color: rgb(220, 129, 45)!important;
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;
}

.orange:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.purple{

  background-color: rgb(111, 59, 111)!important;
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;
}

.purple:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}
.colorpicker{
 
  margin:5px 120px;
  display:flex;
 
}

.playcontainer{
  display: inline-block;

  background-color: rgb(170, 184, 178);
  margin: 20px auto;
  height: 56%;
  width: 50%;
  border-radius: 8px;
  border:black solid 1px;

}

.circle{
  background-color: rgb(210, 213, 216);
  margin-right: 5px;
  width: 6%;
height: 24px;
border-radius: 100%;
border:solid black 1px;

transition: all 120ms;

}
.circle:hover{

  transform: scale(1.2);
 
  cursor: pointer;
  z-index: 1;
}

.boardrow{
  margin: 5px;
  display:flex;
  padding: 5px;
}

.squarecontainer{

  display: flex;
  border: solid black 1px;
  width: 20%;
  margin-left: 20px;

}
.square{

  background-color: rgb(210, 213, 216);
  margin: 2px;
  width:14px;
height:14px;

border:solid black 1px;
}

.showrules{
margin-top: 4px;

}
.showrules:hover{
  cursor: pointer;
}
.rules{
font-style:oblique;

}
.col-green{

  background-color: rgb(63, 162, 91);
}
.col-yellow{

  background-color: rgb(255, 255, 18)
}
button:hover{

  cursor: pointer;
}